
@font-face {
    font-family: "Halvetica Regular";
    src: url(../fonts/Helvetica-Neue-LT-GEO-55-Roman.ttf);
}

@font-face {
    font-family: "Halvetica Bold";
    src: url(../fonts/Helvetica-Neue-LT-GEO-75-Bold.ttf);
}
html,
body {
  min-height: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  min-width: 320px;
}

* {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 16px;
  font-family: "Halvetica Regular";
}

h1,h2,h3,h4 {
    font-family: "Halvetica Bold";
}

.container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 10px;
}

.container-small {
    max-width: 900px;
    margin: 0 auto;
    padding: 10px;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

ul {
    list-style-type: none;
}

.flex {
    display: flex;

    &-between {
        justify-content: space-between;
    }

    &-center {
        justify-content: center;
    }

    &-middle {
        align-items: center;
    }

    &-row {
        flex-direction: row;
    }

    &-column {
        flex-direction: column;
    }
}

.pos-relative {
    position: relative;
}

.mr-20 {
    margin-right: 20px;
}

.ml-20 {
    margin-left: 20px;
}

@mixin tablet {
    @media (max-width: 960px) {
      @content;
    }
  }

@mixin mobile {
    @media (max-width: 640px) {
        @content;
    }
}

@mixin bigMobile {
    @media (max-width: 480px) {
        @content;
    }
}

@mixin smallMobile {
    @media (max-width: 320px) {
        @content;
    }
}